<div class="profile-page">
  <div class="profile-header">
    <div class="profile-avatar">
      <img src="/images/avatar1.svg" alt="User Avatar" class="avatar-img" />
      <button class="edit-btn">✎</button>
    </div>

    <h2 class="username">Speedyanto</h2>
    <p class="email">antoine@test.test</p>
  </div>
  <div class="stats-container">
    <div class="stat-box red">
      <p class="stat-value">3</p>
      <p class="stat-label">Games played</p>
    </div>
    <div class="stat-box orange">
      <p class="stat-value">0</p>
      <p class="stat-label">Games won</p>
    </div>
    <div class="stat-box black">
      <p class="stat-value">100</p>
      <p class="stat-label">Km² Covered</p>
    </div>
    <div class="stat-box blue">
      <p class="stat-value">1</p>
      <p class="stat-label">Games coming</p>
    </div>
  </div>
</div>
