// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$orangy: #F5564E;
$blou: rgb(0, 45, 128);
$blouclaire: #5C96E0;
$yelo: #f8e36d;
$cream: #FFFDF9;


$player1: #a2922d;
$player2: #FF5964;
$palyer3: #38618C;
$player4: #35A7FF;
