
.tab-content.hidden {
  display: none;
}

.tab-content:not(.hidden) {
  display: block;
}

.tab-titles {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  border-bottom: none;
}

.tab-titles li {
  margin: 0;
  border: none;
}

.tab-titles a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border: none;
}

.a {
  text-decoration: none !important;
}

.tab-titles .active {
  font-weight: bold;
  color: $orangy;
  background-color: #f9f9f9;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.tab-titles a:hover {
  color: $orangy;
  background-color: #f1f1f1;
  text-decoration: none;
}

.tab-content {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: -2px;
}

.fullcontainer {
  min-height: 100vh;
  display: block;
}

.card {
  width: 95%;
  height: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  color: $blou;
  padding: 12px 12px;
}

.info {
  margin-bottom: 1px;
}

.infos {
  font-weight: bold;
}
.card .info {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 0 12px;
}

.map1 {
  overflow: hidden;
  margin: 12px 0;
}


.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-align: center;
  margin: 12px 12px;
}

.status div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status img {
  width: 16px;
}

.action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px; /* Espacement entre les boutons */
  z-index: 1000; /* Assurez-vous que les boutons restent au-dessus de la carte */
}

.edit-button, .delete-button {
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.mapy {
  position: relative;
}

.edit-button {
  background-color: #007bff; /* Couleur bleue pour modifier */
}

.delete-button {
  background-color: #dc3545; /* Couleur rouge pour supprimer */
}

.edit-button:hover {
  background-color: #0056b3; /* Couleur bleue foncée au survol */
}

.delete-button:hover {
  background-color: #c82333; /* Couleur rouge foncée au survol */
}

.edit-button, .delete-button {
  color: white; /* Assurez une bonne lisibilité sur les fonds colorés */
}

.icon {
  height: 16px;
  width: 16px;
}
