
.tab-content.hidden {
  display: none;
}

.tab-content:not(.hidden) {
  display: block;
}

.tab-titles {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  border-bottom: none;
}

.tab-titles li {
  margin: 0;
  border: none;
}

.tab-titles a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border: none;
}

.tab-titles .active {
  font-weight: bold;
  color: #007bff;
  background-color: #f9f9f9;
  border-bottom: 2px solid transparent;
}

.tab-titles a:hover {
  color: #007bff;
  background-color: #f1f1f1;
}

.tab-content {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: -2px;
}

.fullcontainer {
  min-height: 100vh;
  display: block;
}

.card {
  width: 375px;
  height: 480px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  color: #4a90e2;
  padding: 12px 12px;
}

.info {
  margin-bottom: 1px;
}

.infos {
  font-weight: bold;
}
.card .info {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 0 12px;
}

.map1 {
  overflow: hidden;
  margin: 12px 0;
}


.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-align: center;
  margin: 12px 12px;
}

.status div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status img {
  width: 16px;
}

