<%#
    <nav class="navbar">
        <div class="nav-icon">
            <img src="user-icon.svg" alt="User" />
        </div>
        <div class="nav-logo">
            <img src="logo_rn.svg" alt="Logo" />
        </div>
        <div class="nav-icon">
            <img src="notif_icon.svg" alt="Notifications" />
        </div>
    </nav>
 %>
