<div class="container mt-4 notifications-tab">
  <h2 class="text-center mb-4">Notifications</h2>

  <div class="list-group">
    <% @notifications.each do |notification| %>
      <div class="notification-item">
        <div class="list-group-item d-flex align-items-start m-2">
          <!-- Icon Section -->
          <div class="icon-container me-3">
            <i class="fa-regular fa-bell"></i>
          </div>
          <!-- Text Section -->
          <div class="text-container flex-grow-1">
            <h5 class="mb-1"><%= notification.title %></h5>
            <p class="mb-1 text-muted"><%= notification.content.truncate(72) %></p>
            <small class="text-secondary"><%= time_ago_in_words(notification.created_at) %> ago</small>
          </div>
          <!-- Action Section -->
          <div class="ms-auto h-5 w-5">
              <%= link_to notification_path(notification), data: { turbo_method: :delete} do %>
                <i class="fas fa-times" style="font-size: 26px;"></i>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
