<footer class="footer">
    <div class="footer-item">
        <a class="navbar-logo" href="#">
            <img alt="logo Icon" src="/assets/logo_rn-55bdc63a1bf8f938457705b6cbd396984be3680d69eb2dff7a70e3ea52b79516.svg" width="24" height="24" />
        </a>
        <span>Home</span>
    </div>
    <div class="footer-item">
        <a class="navbar-logo" href="#">
            <img alt="logo Icon" src="/assets/logo_rn-55bdc63a1bf8f938457705b6cbd396984be3680d69eb2dff7a70e3ea52b79516.svg" width="24" height="24" />
        </a>
        <span>Your Games</span>
    </div>
    <div class="footer-item">
        <a class="navbar-logo" href="#">
            <img alt="logo Icon" src="/assets/logo_rn-55bdc63a1bf8f938457705b6cbd396984be3680d69eb2dff7a70e3ea52b79516.svg" width="24" height="24" />
        </a>
        <span>New Game</span>
    </div>
</footer>
