
.footer {
  display: flex  !important;
  justify-content: space-around; /* Space out items evenly */
  align-items: center; /* Align items vertically */
  background-color: #f1f1f1; /* Example footer background color */
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 2px -1px 5px 1px rgba(0, 0, 0, .2);
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items within each section */
  text-align: center;
}

.footer-item img {
  margin-bottom: 5px; /* Add space between icon and text */
}

span {
  text-align: center;
}
