.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, .2);
  margin-bottom: 15px;
  padding: 10px 5px;
  position: sticky;
}

.nav-logo {
  flex-grow: 1; /* Permet de centrer le logo */
  text-align: center;
}

.chat-icon,
.notif-icon {
  display: inline-block; /* Assure un alignement horizontal */
  margin-left: 15px; /* Ajoute un espacement entre les deux icônes */
}

.notif-icon {
  display: flex;
  align-items: center;

  img {
    margin-left: 10px; /* Espace pour séparer les icônes */
  }
}

.refresh-icon {
  margin-left: 10px;
}
