.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, .2);
  margin-bottom: 15px;
  padding: 10px 5px;
  position: sticky;
}

.nav-logo {
  flex-grow: 1; /* Permet de centrer le logo */
  text-align: center;
}

.chat-icon,
.notif-icon {
  display: inline-block; /* Assure un alignement horizontal */
  // margin-left: 15px; /* Ajoute un espacement entre les deux icônes */
}

.notif-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.refresh-icon {
  margin-left: 10px;
}



#notification-badge {
  position: absolute;
  top: 3px;
  right: 3px;
  transform: translate(50%, -50%);
  background-color: #F5564E;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center;
}
