// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");


/* Onglets - barre de navigation */
.tab-titles {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.tab-titles li {
  margin-right: 10px;
}

.tab-titles li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: none;
  color: #333;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.tab-titles li a:hover {
  background-color: #eee;
}

.tab-titles li a.active {
  background-color: white;
  color: #000;
  border-color: #ddd #ddd white;
  cursor: default;
}

/* Contenu des onglets */
.tab-content {
  display: none; /* Masquer tous les contenus par défaut */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 5px;
  background-color: #fff;
}

.tab-content.active {
  display: block; /* Afficher uniquement le contenu de l'onglet actif */
}

